.footer{
    width: 100%;
    height: 365px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.log{
    padding: 60px 91px 221px 120px;
}
.custom{
    display: flex;
    flex-direction: column;
    padding: 60px 91px 60px 0;
  

}
.a{
    padding-bottom: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #3D5675; 
}
.custom2{
    display: flex;
    flex-direction: column;
    padding: 60px 91px 60px 0;
}
.connect{
    padding-bottom: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #3D5675;
}
.connection{
    display: flex;
    flex-direction: column;
    padding: 60px 91px 60px 400px;
}
#name{
    width: 280px;
    height: 36px;
    border-radius: 15px;
}
.join{
    padding: 19px 40px;
    height: 50px;
    width: 200px;
    background: #3D5675;
    color: white;
    border-radius: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-transform: uppercase;
}
.join:hover{

    background: #86a9d4;
    transition: 1.5s;
}
.join:active{

    transform: scale(2, 0.5);
}