.letsget{
    height: 392px;
    width: 100%;
    background-color: #EEEEEE;
}
.get{
    padding-top: 177px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    text-align: center;

    color: #011F3A;

}
.knob{
    display: flex;
    flex-direction: row;
    width: 487px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 136px;
}