.revard{
    width: 1133px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}
.shop{
    width: 81px;
   
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    /* or 127% */

    letter-spacing: 0.6px;

    color: #A1A1A1;
}